<%- include ../partials/header %>

<div class="container w-50 mb-5">
    <div class="py-5 text-center">
        <img class="mb-4" src="/images/doctor-reg.png" width="72">
        <h2>Dr. <%= doctor.fName %> <%= doctor.lName %></h2>
         <div class="col-md-3 col-sm-6 mt-3">
            <div class="card">
                <img class="card-img-top" src="<%= doctor.image %>">
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title">Dr. <%= doctor.fName %> <%= doctor.lName %></h5>
                        <p class="card-text"><%= doctor.specialization %><em> (<%= doctor.qualification %>)</em></p>
                        <p class="card-text">Fees: Rs.<%= doctor.fees %></p>
                        <!--AFTER AUTH-->
                       <!-- <a href="/patients/add patient id/appointments/<%= doctor._id %>/new" class="btn btn-dark">Get Appointment</a>-->
                     </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

<%- include ../partials/footer %>